01-getting-started/C-Sharp/rest-client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
01-getting-started/C-Sharp/rest-client/obj/Debug/netcoreapp3.1/rest_client.AssemblyInfo.cs
01-getting-started/C-Sharp/rest-client/obj/Debug/netcoreapp3.1/rest_client.AssemblyInfoInputs.cache
01-getting-started/C-Sharp/sdk-client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
01-getting-started/C-Sharp/sdk-client/obj/Debug/netcoreapp3.1/sdk-client.AssemblyInfo.cs
01-getting-started/C-Sharp/sdk-client/obj/Debug/netcoreapp3.1/sdk-client.AssemblyInfoInputs.cache
02-cognitive-security/C-Sharp/keyvault_client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
02-cognitive-security/C-Sharp/keyvault_client/obj/Debug/netcoreapp3.1/keyvault_client.AssemblyInfo.cs
02-cognitive-security/C-Sharp/keyvault_client/obj/Debug/netcoreapp3.1/keyvault_client.AssemblyInfoInputs.cache
05-analyze-text/C-Sharp/text-analysis/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
05-analyze-text/C-Sharp/text-analysis/obj/Debug/netcoreapp3.1/text-analysis.AssemblyInfo.cs
05-analyze-text/C-Sharp/text-analysis/obj/Debug/netcoreapp3.1/text-analysis.AssemblyInfoInputs.cache
06-translate-text/C-Sharp/text-translation/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
06-translate-text/C-Sharp/text-translation/obj/Debug/netcoreapp3.1/translate_text.AssemblyInfo.cs
06-translate-text/C-Sharp/text-translation/obj/Debug/netcoreapp3.1/translate_text.AssemblyInfoInputs.cache
07-speech/C-Sharp/speaking-clock/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
07-speech/C-Sharp/speaking-clock/obj/Debug/netcoreapp3.1/speaking-clock.AssemblyInfo.cs
07-speech/C-Sharp/speaking-clock/obj/Debug/netcoreapp3.1/speaking-clock.AssemblyInfoInputs.cache
08-speech-translation/C-Sharp/translator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
08-speech-translation/C-Sharp/translator/obj/Debug/netcoreapp3.1/translator.AssemblyInfo.cs
08-speech-translation/C-Sharp/translator/obj/Debug/netcoreapp3.1/translator.AssemblyInfoInputs.cache
10-luis-client/C-Sharp/clock-client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
10-luis-client/C-Sharp/clock-client/obj/Debug/netcoreapp3.1/clock_client.AssemblyInfo.cs
10-luis-client/C-Sharp/clock-client/obj/Debug/netcoreapp3.1/clock_client.AssemblyInfoInputs.cache
11-luis-speech/C-Sharp/speaking-clock-client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
11-luis-speech/C-Sharp/speaking-clock-client/obj/Debug/netcoreapp3.1/speaking_clock_client.AssemblyInfo.cs
11-luis-speech/C-Sharp/speaking-clock-client/obj/Debug/netcoreapp3.1/speaking_clock_client.AssemblyInfoInputs.cache
15-computer-vision/C-Sharp/image-analysis/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
15-computer-vision/C-Sharp/image-analysis/obj/Debug/netcoreapp3.1/image-analysis.AssemblyInfo.cs
15-computer-vision/C-Sharp/image-analysis/obj/Debug/netcoreapp3.1/image-analysis.AssemblyInfoInputs.cache
17-image-classification/C-Sharp/test-classifier/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
17-image-classification/C-Sharp/test-classifier/obj/Debug/netcoreapp3.1/test-classifier.AssemblyInfo.cs
17-image-classification/C-Sharp/test-classifier/obj/Debug/netcoreapp3.1/test-classifier.AssemblyInfoInputs.cache
17-image-classification/C-Sharp/train-classifier/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
17-image-classification/C-Sharp/train-classifier/obj/Debug/netcoreapp3.1/train-classifier.AssemblyInfo.cs
17-image-classification/C-Sharp/train-classifier/obj/Debug/netcoreapp3.1/train-classifier.AssemblyInfoInputs.cache
18-object-detection/C-Sharp/test-detector/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
18-object-detection/C-Sharp/test-detector/obj/Debug/netcoreapp3.1/test-detector.AssemblyInfo.cs
18-object-detection/C-Sharp/test-detector/obj/Debug/netcoreapp3.1/test-detector.AssemblyInfoInputs.cache
18-object-detection/C-Sharp/train-detector/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
18-object-detection/C-Sharp/train-detector/obj/Debug/netcoreapp3.1/train-detector.AssemblyInfo.cs
18-object-detection/C-Sharp/train-detector/obj/Debug/netcoreapp3.1/train-detector.AssemblyInfoInputs.cache
19-face/C-Sharp/computer-vision/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
19-face/C-Sharp/computer-vision/obj/Debug/netcoreapp3.1/detect-faces.AssemblyInfo.cs
19-face/C-Sharp/computer-vision/obj/Debug/netcoreapp3.1/detect-faces.AssemblyInfoInputs.cache
19-face/C-Sharp/face-api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
19-face/C-Sharp/face-api/obj/Debug/netcoreapp3.1/analyze-faces.AssemblyInfo.cs
19-face/C-Sharp/face-api/obj/Debug/netcoreapp3.1/analyze-faces.AssemblyInfoInputs.cache
20-ocr/C-Sharp/read-text/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
20-ocr/C-Sharp/read-text/obj/Debug/netcoreapp3.1/read-text.AssemblyInfo.cs
20-ocr/C-Sharp/read-text/obj/Debug/netcoreapp3.1/read-text.AssemblyInfoInputs.cache
21-custom-form/C-Sharp/test-model/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
21-custom-form/C-Sharp/test-model/obj/Debug/netcoreapp3.1/test-model.AssemblyInfo.cs
21-custom-form/C-Sharp/test-model/obj/Debug/netcoreapp3.1/test-model.AssemblyInfoInputs.cache
21-custom-form/C-Sharp/train-model/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
21-custom-form/C-Sharp/train-model/obj/Debug/netcoreapp3.1/train-model.AssemblyInfo.cs
21-custom-form/C-Sharp/train-model/obj/Debug/netcoreapp3.1/train-model.AssemblyInfoInputs.cache
22-create-a-search-solution/C-Sharp/margies-travel/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
22-create-a-search-solution/C-Sharp/margies-travel/obj/Debug/netcoreapp3.1/search-client.AssemblyInfo.cs
22-create-a-search-solution/C-Sharp/margies-travel/obj/Debug/netcoreapp3.1/search-client.AssemblyInfoInputs.cache
